.main-container{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.inputContainer{
  display: flex;
  flex-direction: column;
}

input{
  height: 20px;
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #22adfe;
  background-color: rgb(148, 255, 255);
}

.button-area{
  display: flex;
  align-items: center;
  width: 120px;
  height: 60px;
  justify-content: space-between;
}

button{
  height: 30px;
  width: 50px;
}

.error{
  background-color: #ff936f;
  border: 3px dashed rgb(255, 3, 3);
  border-radius: 50px;
  width: 180px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success{
  background-color: #5cc958;
  border: 3px dashed rgb(0, 94, 20);
  border-radius: 50px;
  width: 180px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}